@import 'variables';
@import 'fonts';

// Libs
@import 'swiper/swiper.scss';
@import 'swiper/components/a11y/a11y.scss';
@import 'swiper/components/effect-fade/effect-fade.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.058vw;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;

  @media screen and (min-width: 1728px) {
    font-size: 1px;
  }

  @media screen and (max-width: 920px) {
    font-size: 0.5px;
  }
}

body {
  // position: relative;
  min-width: 320px;
  height: 100%;
  font-family: $default-font;
  font-size: 16rem;
  line-height: 1;
  font-weight: normal;
  color: $text-base;
  background: $light-bg;
  text-rendering: geometricPrecision;

  &.no-scroll {
    overflow: hidden;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}
.page-enter,
.page-leave-active {
  transform: translateY(20rem);
  opacity: 0;
}

img, .white-black {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

// Fade animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
